body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    line-height: 3;
    padding: 20px;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: xx-large;
}

ul {
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
}

li {
    background: white;
    margin: 5px 0;
    padding: 20px;
}

li span {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-weight: bold;
    color: black;
}
